<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpe451.cmpecommunity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme" >
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Entry for RegisterActivity.class -->
        <activity
            android:name=".RegisterActivity"
            android:label="Register New Account"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".HomeActivity"
            android:label="Home" >
        </activity>
        <activity android:name=".FeedActivity" android:label="Feeds"></activity>
    </application>

</manifest>